/* bg #1f2937 */
/* main text #f9faf8 */
/* secondary text #e5e7eb */

* {
  font-family: 'Roboto'
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.header-container {
    width: 60vw;
}

.quote-container {
    width: 45vw;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-links {
    display: flex;
    gap: 18px;
}

.nav-bar-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
}

.intro-container {
    display: flex;
    gap: 50px;
    margin: 100px 0;
}

.intro-container img {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e7e5eb;
    background-color: #8899b3;
    max-height: 100%;
    max-width: 30vw;
    flex: 1;
}

.intro {
    max-width: 50%;
    flex: 1;
}

.intro h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.intro p {
    font-size: 18px;
    color: #e5e7eb;
}

.intro-container button, .sign-up-container button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 0;
    padding: 5px 26px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bolder;
}

ul {
    margin: 0;
}

li {
    list-style: none;
    max-width: 150px;
    display: flex;
    flex-direction: column;
}

li p {
    text-align: center;
    color: #242f3f;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 60px;
}

.information h3 {
    color: #1f2937;
    font-weight: bolder;
    font-size: 36px;
    margin: 0 0 36px;
}

.images {
    display: flex;
    gap: 50px;
}

.images img {
    min-height: 150px;
    min-width: 150px;
    background-color: #fff;
    border: #3882f6 solid 4px;
    border-radius: 10%;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 100px;
}

.quote-background {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote-source {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #1f2937;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    margin: 0;
}

.sign-up-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px;
    padding: 40px 75px;
    width: 50vw;
    align-self: center;
    background-color: #3882f6;
    border-radius: 10px;
    gap: 50px;
}

.sign-up-button-container {
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
}

.sign-up-container button {
    border: 3px solid #e5e7eb;
    padding: 5px 15px;
}

.sign-up-text h4 {
    font-size: 24px;
    color: #e5e7eb;
    margin: 0;
}

.sign-up-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
}